<link rel="stylesheet" href="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.css?v={$wa->version()}">
<script src="{$wa_url}wa-content/js/jquery-plugins/ibutton/jquery.ibutton.min.js"></script>

{literal}
<style type="text/css">
    #wa .CodeMirror {
        border: 1px solid #eee;
    }

    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }

    #code {
        width: 310px;
    }

    .quickeditor-ibutton {
        display: none;
    }
</style>
{/literal}

<h1>RSS Reader</h1>

<form action="?plugin=rssreader&action=savesettings" method="post" id="plugins-settings-form">
    {$wa->csrf()}

    <div class="field">
        <div class="name">
            [`Enable plugin`]
        </div>
        <div class="value">
            <input class="quickeditor-ibutton" type="checkbox" value="1" name="settings[state]" {if isset($settings['state'])
            && $settings['state'] == 1} checked="checked"{/if}><br>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Enable default feed`]<br>
            <span class="hint">[`is output to home.html`]</span>
        </div>
        <div class="value">
            <input class="quickeditor-ibutton" type="checkbox" value="1" name="settings[def_feed]" {if isset($settings['def_feed'])
            && $settings['def_feed'] == 1} checked="checked"{/if}><br>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Feed url`]
        </div>
        <div class="value">
            <input type="text" name="settings[feed_url]" value="{$settings.feed_url|escape}"/><br/><br/>
        </div>
    </div>

    <div class="field">
        <div class="name">
            [`Show posts`]
        </div>
        <div class="value">
            <input type="text" name="settings[feed_posts]" value="{$settings.feed_posts}"/><br/><br/>
        </div>
    </div>

    <div class="field">
        <div class="name">[`Instructions for using the plugin`]<br><span class="hint">Smarty</span></div>
        <div class="value no-shift">
            <textarea id="how_to_use" class="body">
[`By default the plugin is disabled.`]
[`First of all, set mark «Enable plugin».`]
[`The default feed is outputted in a home.html as:`]
...
<ul class="rssreader">
    <li><a href="url1">title1</a></li>
    <li><a href="url2">title2</a></li>
    <li><a href="url3">title3</a></li>
</ul>
...

[`If you need to put the output in your place, use:`]

{literal}{shopRssreaderPlugin::show('http://feeds.feedburner.com/webasystcom/ru', 10, '<ul class="rss">', '</ul>', '<li><a href="%link%">%title%</a></li>')}{/literal}

[`First param - feed url`]
[`2nd param - how many records to show`]
[`3rd param - before list`]
[`4rd param - after list`] 
[`5rd param - record mask`]

[`You can use the following macros in record:`]
%link% [`link to news`]
%date% [`news date`]
%title% [`news title`]
%text% [`full news text (with images)`]
            </textarea>
        </div>
    </div>

    <div class="field">
        <div class="clear"></div>

        <div class="value submit">
            <input type="submit" class="button green" value="[`Save`]">
            <span id="plugins-settings-form-status" style="display:none">
            <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
        </span>
        </div>
    </div>

</form>

{literal}
<script type="text/javascript">
    $(function () {
        $(".quickeditor-ibutton").iButton({
            labelOn: '{/literal}[`On`]{literal}',
            labelOff: '{/literal}[`Off`]{literal}',
            className: 'mini'
        });
        CodeMirror.fromTextArea(document.getElementById('how_to_use'), {
            mode: "text/html",
            tabMode: "indent",
            height: "dynamic",
            readOnly: true,
            lineWrapping: true
        });
    });
</script>
{/literal}